<!DOCTYPE html>
<html>
<head>
  <title>SocialFreak</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Meal Orders', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
          <li><%= image_tag current_user.image_url, class: 'img-circle', alt: current_user.name %></li>
        <% else %>
          <li><%= link_to 'Login with Facebook', '/auth/facebook' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
